<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1b0fac21a6.js" crossorigin="anonymous"></script>
</head>
<body>

    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="images/logo-mercado-liebre.svg" class="logo">
            <nav class="search-bar">
                <input placeholder="Buscar productos, marcas">
                <i class="fa-solid fa-magnifying-glass"></i>
            </nav>
            <h2 class="copy-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de
                crédito</h2>
        </div>

        <a href="#" class="hamburger-button">
            <i class="fa-solid fa-bars"></i></a>

        <nav class="main-navar">
            <ul class="left-navbar">
                <li><a href="#ofertas">Ofertas</a></li>
                <li><a href="/home">Tiendas Oficiales</a></li>
                <li><a href="/home">Vender</a></li>
                <li><a href="/home">Ayuda</a></li>
            </ul>
            <ul class="rigth-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="/home">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
    </header>

    <form action="/crear-cuenta" method="POST" class="create-form">
        <div class="control-formulario">
            <label>Nombre:</label>
            <input type="text" name="nombre" class="control" required autofocus pattern="[a-zA-Z\s]+" title="Ingresa un nombre válido">
        </div>
        <div class="control-formulario">
            <label>Apellido:</label>
            <input type="text" name="apellido" class="control" required pattern="[a-zA-Z\s]+" title="Ingresa un apellido válido">
        </div>
        <div class="control-formulario">
            <label>Usuario:</label>
            <input type="text" name="usuario" class="control" required pattern="[a-zA-Z0-9]+" title="Ingresa un nombre de usuario válido">
        </div>
        <div class="control-formulario">
            <label>Fecha Nacimiento:</label>
            <input type="date" name="fecha-nac" class="control" required>
        </div>
        <div class="control-formulario">
            <label>Domicilio:</label>
            <input type="text" name="domicilio" class="control" required>
        </div>
        <div class="control-formulario">
            <label>Perfil del Usuario:</label>
            <input type="radio" name="perfil" value="comprador">Comprador
            <input type="radio" name="perfil" value="vendedor">Vendedor
        </div>
        <div class="control-formulario">
            <label>Intereses:</label>
            <input type="checkbox" name="intereses" class="control" value="Electro">Electro
            <input type="checkbox" name="intereses" class="control" value="Moda">Moda
            <input type="checkbox" name="intereses" class="control" value="Hogar">Hogar
            <input type="checkbox" name="intereses" class="control" value="Jugueteria">Juguetería
            <input type="checkbox" name="intereses" class="control" value="Vida">Vida Sana
        </div>
        <div class="control-formulario">
            <label>Foto Usuario:</label>
            <input type="file" name="foto" class="control">
        </div>
        <div class="control-formulario">
            <label>Contraseña:</label>
            <input type="password" name="contraseña" class="control" required minlength="8">
        </div>
        <div class="control-formulario">
            <label>Confirmar contraseña:</label>
            <input type="password" name="con-contraseña" class="control" required minlength="8">
        </div>
        <button type="reset" class="boton-formulario">Borrar</button>
        <button type="submit" class="boton-formulario">Enviar</button>
    </form>

    <footer>
        <div class="conteiner">
        <article>
            <div class="tarjeta">
                <i class="fa-solid fa-credit-card" id="icon-footer"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
        </article>
        <article>
            <div class="tarjeta">
                <i class="fa-solid fa-gift" id="icon-footer"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
        </article>
        <article>
            <div class="tarjeta">
                <i class="fa-solid fa-user-shield" id="icon-footer"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </article>
    </div>
        <article>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </article>
    </footer>
    
</body>
</html>